*,*::after,*::before{
    margin:0;
    padding:0;
}

.container{
    width: 100%;
    display: flex;
    font-family: sans-serif;

}

.logo img{
    width: 50%;
    margin: 0 0  0 30px;
}

.frase-topo{
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.frase-topo span{
    color:#FF7924;

}


.topo-inner{
    display: flex;
    justify-content: flex-end;
    width: 50%;

}

.frase-topo i{
    margin: 0 20px;
    font-size: 1.3em;
}

.main{
    height: 100vh;
    background-image: url('../images/FUNDO.jpg');
    background-position: center;
    background-size:cover;


}

.main-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff

}

.main-left-title{
    width: 70%;
}

.main-left-text{
    width: 41%;
    align-self: flex-start;
    margin-left: 15%;
}

.main-left-promocao img{
    width: 70%;
}


.main-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: #ff7924;
    width: 310px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    border-radius: 10px;
    box-shadow: 0 10px #db5a13;
}

.formulario img{
    width: 250px;
  
    top: 135px;
    left: 62%;


}

.formulario h4{
    width:230px;
}

.formulario input[type="email"], input[name="nomepet"], input[name="nome"]{
    width: 260px;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    margin: 10px 0;
}


.formulario input[name="whatsapp"]{
    width: 180px;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    margin: 10px 0;

}

.formulario input[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: #117ee3;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0 5px #0c62b3;
    border:none;

}

.formulario .detalhe{
    color:#fff;
}

.icon{
    margin: 0 0 0 10%;
    width: 90%;
}

.icon i{

    font-size:1.5em; 
    color:green;
}

@media (max-width: 360px)  {

    .main-left{
        width: 100%;

    }
    
    .formulario{
        width: 100%;
        margin-top: 50%;
        display: flex;
       
        
     
    }
    
    .main-right {
        width: 100px;

    }
   
    .main-right input{
        width: 200px;
       

    }
    .formulario input[type="email"]{
        width: 200px;
       

    }
   
    
    .formulario img{
           width: 170px;
           display: flex;
           margin-top: -50%;
          
          
   
    }
    .formulario i{
        margin-left: 2%;
    }
    
    container main{
        width: 100%;  
    }
    
    .main-left-title{
        width: 100%;

        margin-left: 10%;
    }
    .main-left-title h1{
        width: 70%;
        font-size: 16px;    

    }
    .main-left-text{
        width: 60%;
        margin-left: 5%;
    }
    .main-left-text h2{
      font-size: 20px;
    
    }
    .main{
         width: 100%;
         
    }
    .logo{
        width: 30%;
        height: 10px;

    }
    .frase-topo h2{
        width: 80%;
        font-size: 16px;
        margin-top: 3%;

    }


}  

@media (max-width: 600px){
    .main-left{
        width: 100%;

    }
    .main-right{
        width: 100%;
        margin-top: 180%;
        margin-left: -100%;

    }
    .formulario{
        width: 100%;
        height: 430px;
    }
    container main{
        width: 100%;  
    }
    .main-right img{
        flex: left;  
        
       
    }
    .main-left-title{
        width: 100%;

    }
    .main-left-text{
        width: 60%;
        margin-left: 5%;
    } 
}
 .formulario{
        width: 100%;
        margin-top: 50%;
        display: flex;
       
        
     
    }